<div class="col-12 col-md-6 col-lg-4 d-flex">

  <!-- Card -->
  <div class="card mb-6 mb-lg-0 pt-14 overlay overlay-black overlay-30 bg-cover shadow-light-lg" style="background-image: url(assets/img/photos/photo-8.jpg);">

    <!-- Body -->
    <a class="card-body mt-auto" href="#!">

      <!-- Heading -->
      <h3 class="text-white">
        Background Photo + 30% Dark Overlay
      </h3>

      <!-- Text -->
      <p class="mb-0 text-white">
        A much lighter overlay work on darker photos, and is easy to control with utilities.
      </p>

    </a>

    <!-- Meta -->
    <a class="card-meta" href="#!">

      <!-- Divider -->
      <hr class="card-meta-divider bg-white-20">

      <!-- Avatar -->
      <div class="avatar avatar-sm mr-2">
        <img src="assets/img/avatars/avatar-1.jpg" alt="..." class="avatar-img rounded-circle">
      </div>

      <!-- Author -->
      <h6 class="text-uppercase text-white-80 mr-2 mb-0">
        Ab Hadley
      </h6>

      <!-- Date -->
      <p class="h6 text-uppercase text-white-80 mb-0 ml-auto">
        <time datetime="2019-05-02">May 02</time>
      </p>

    </a>

  </div>

</div>
