<%= render 'account/shared/header' %>
<section class="pb-8 pb-md-11 mt-md-n6">
  <div class="container-md">
    <div class="row">
      <div class="col-12 col-md-3">
        <%= render 'account/reviews/navigation' %>
      </div>
      <div class="col-12 col-md-9">
        <div class="card card-bleed shadow-light-lg mb-6">
          <div class="card-header">
            <h4 class="mb-0">
              Your Reviews
            </h4>

          </div>
          <div class="card-body">
            <div class="list-group list-group-flush">
              <%= render 'account/reviews/reviews' %>
            </div>
          </div>
        </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>
