
<br>
<br>
<br>
<br>
<br>
<br>
<%= simple_form_for(@user) do |f| %>
  <p>
  <%= f.input :first_name %><br>

  </p>
  <p>
    <%= f.association :location, label_method: :city %>
  <p>
  <%= f.submit %>
  </p>
  <% end %>
