<section data-jarallax data-speed=".8" class="py-10 py-md-12 overlay overlay-black overlay-50 bg-cover jarallax" style="background-image: url('<%= cl_image_path @location.photo.key %>');">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="text-white">
          <i class="fas fa-map-marker-alt mr-3"></i><%= @location.city %>, <%= @location.state %>
        </h2>
        </div>
      </div>
      <div class="row justify-content-center align-item-bottom">
        <div class="col-12 col-md-10 col-lg-7">
          <div class="card bg-transparent text-white">
            <div class="row text-center mt-4">
              <div class="col">
                <div class="pr-5 border-right">
                  <h2 class="mb-0">41,092</h2>
                  <span class="mt-0 text-warning">Total Cases</span>
                </div>
              </div>
              <div class="col">
                <div class="pr-5 border-right">
                  <h2 class="mb-0">355</h2>
                  <span class="mt-0 text-warning">New Cases</span>
                </div>
              </div>
              <div class="col">
                <div class="pr-5">
                  <h2 class="mb-0">499</h2>
                  <span class="mt-0 text-warning">Deaths</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>


<!-- SHAPE -->
<div class="position-relative">
  <div class="shape shape-bottom shape-fluid-x svg-shim text-light">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>      </div>
</div>
