<section class="pt-0 pt-md-0 mb-8">
  <div class="container">
    <h5 class="mb-4">Safe + Fun Activities</h5>
    <div class="row">
      <%= render 'locations/show/activities/card_1' %>
    </div>
  </div>
</section>
