<section class="pt-0 pt-md-7 mb-8">
  <div class="container">
    <h5 class="mb-4">Things to Do in Austin</h5>

    <!-- <h6 class="text-muted mb-5">Things to do in Austin</h6> -->
    <div class="d-flex flex-row card-style-2">
      <div class="flex-fill pr-3">
        <div class="card mb-4 overlay overlay-black overlay-30 bg-cover shadow-light-lg" style="background-image: url(https://images.unsplash.com/photo-1515669097368-22e68427d265?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);">
          <!-- Body -->
          <a class="card-body mt-auto padding-0" href="#!"></a>
          <!-- Meta -->
          <a class="card-meta" href="#!">
            <h6 class="card-title text-white mr-2 mb-0 text-white bg-black btn-pill btn-small p-1 px-3">
               Food Spots
            </h6>
          </a>
        </div>
      </div>
      <div class="flex-fill pr-3">
        <div class="card padding-0 mb-4 overlay overlay-black overlay-30 bg-cover shadow-light-lg" style="background-image: url(https://images.unsplash.com/photo-1561198789-add490cf55a0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80);">
          <!-- Body -->
          <a class="card-body padding-0" href="#!"></a>
          <!-- Meta -->
          <a class="card-meta" href="#!">
            <h6 class="card-title text-white mr-2 mb-0 text-white bg-black btn-pill btn-small p-1 px-3">
              Nature + Outdoors
            </h6>
          </a>
        </div>
      </div>
      <div class="flex-fill pr-3">
        <div class="card padding-0 mb-4 overlay overlay-black overlay-30 bg-cover shadow-light-lg" style="background-image: url(https://images.unsplash.com/photo-1496317556649-f930d733eea3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);">
          <!-- Body -->
          <a class="card-body mt-auto padding-0" href="#!"></a>
          <!-- Meta -->
          <a class="card-meta" href="#!">
            <h6 class="card-title text-white mr-2 mb-0 text-white bg-black btn-pill btn-small p-1 px-3">
              Fun + Nightlife
            </h6>
          </a>
        </div>
      </div>
      <div class="flex-fill">
        <div class="card padding-0 mb-4 overlay overlay-black overlay-30 bg-cover shadow-light-lg" style="background-image: url(https://images.unsplash.com/photo-1470337458703-46ad1756a187?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1349&q=80);">
          <!-- Body -->
          <a class="card-body mt-auto padding-0" href="#!"></a>
          <!-- Meta -->
          <a class="card-meta" href="#!">
            <h6 class="card-title text-white mr-2 mb-0 text-white bg-black btn-pill btn-small p-1 px-3">
              Bars + Drinks
            </h6>
          </a>
        </div>
      </div>
    </div>
    <div class="d-flex flex-row card-style-2">
      <div class="flex-fill pr-3">
        <div class="card mb-4 mb-xl-0 overlay overlay-black overlay-30 bg-cover shadow-light-lg" style="background-image: url(https://images.unsplash.com/photo-1515573998019-c132a6782768?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80);">
          <!-- Body -->
          <a class="card-body mt-auto padding-0" href="#!"></a>
          <!-- Meta -->
          <a class="card-meta" href="#!">
            <h6 class="card-title text-white mr-2 mb-0 text-white bg-black btn-pill btn-small p-1 px-3">
              Art + Culture
            </h6>
          </a>
        </div>
      </div>
      <div class="flex-fill pr-3">
        <div class="card padding-0 mb-4 mb-xl-0 overlay overlay-black overlay-30 bg-cover shadow-light-lg" style="background-image: url(https://images.pexels.com/photos/5706273/pexels-photo-5706273.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);">
          <!-- Body -->
          <a class="card-body padding-0" href="#!"></a>
          <!-- Meta -->
          <a class="card-meta" href="#!">
            <h6 class="card-title text-white mr-2 mb-0 text-white bg-black btn-pill btn-small p-1 px-3">
              Shopping
            </h6>
          </a>
        </div>
      </div>
      <div class="flex-fill pr-3">
        <div class="card padding-0 mb-4 mb-xl-0 overlay overlay-black overlay-30 bg-cover shadow-light-lg" style="background-image: url(https://images.pexels.com/photos/4426554/pexels-photo-4426554.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);">
          <!-- Body -->
          <a class="card-body padding-0" href="#!"></a>
          <!-- Meta -->
          <a class="card-meta" href="#!">
            <h6 class="card-title text-white mr-2 mb-0 text-white bg-black btn-pill btn-small p-1 px-3">
              Wellness
            </h6>
          </a>
        </div>
      </div>
      <div class="flex-fill">
        <div class="card padding-0 mb-6 mb-xl-0 overlay overlay-black overlay-30 bg-cover shadow-light-lg" style="background-image: url(https://www.scenictexas.org/wp-content/uploads/2020/04/austin.jpg);">
          <!-- Body -->
          <a class="card-body mt-auto padding-0" href="#!"></a>
          <!-- Meta -->
          <a class="card-meta" href="#!">
            <h6 class="card-title text-white mr-2 mb-0 text-white bg-black btn-pill btn-small py-1 px-3">
              Landmarks
            </h6>
          </a>
        </div>
      </div>
    </div>
  </div> <!-- / .container -->
</section>
